.current-link {
  @media (min-width: $desktop-width) {
    position: relative;
    color: $second-text-color;
  }
}

.current-link::after {
  @media (min-width: $desktop-width) {
    @include absolute-center();
    content: "";
    display: inline-block;
    top: 115%;
    width: 103;
    height: 2px;
    background-color: $second-bg-color;
  }
}
